:root {
	--text-color: #f0e5e0;
	--secondary-text-color: #e8e0db;

	--chat-background-color: #2f2e2d;
    --chat-highlighted-background-color: #3f3b38;
	--sidebar-background-color: #3e3a37;
	--sidebar-highlighted-background-color: #46423b;
	--topbar-background-color: #3a3733;
	--chatbox-background-color: #3a3733

    --padding-color: #e0e0e0;
    
	--primary-color: #f07028;
	--primary-highlighted-color: #f28f4b;
	--secondary-color: #683820;
	--secondary-highlighted-color: #885830;
	--accent-color: #a04b24;
	--accent-highlighted-color: #b86038;
}