/*
displayName = Ash
previewGradient = 45deg, #2f2e2d, #46423b
complementaryColor = white
*/

:root {
	--text-color: #f0e5e0;
	--secondary-text-color: #e8e0db;
	--reply-text-color: #969696;
	--danger-text-color: #ff0000;

	--chat-background-color: #383432;
    --chat-highlighted-background-color: #4c4a48;
	--chat-important-background-color: #ffcf5f38;
	--chat-important-highlighted-background-color: #ffa86f4f;
	--chat-featured-message-color: #4f3f2f60;
	--popup-background-color: #2f2828;
	--popup-highlighted-background-color: #382f2f;
	--modal-background-color: #3a352f;

	--sidebar-background-color: #322f2d;
	--sidebar-highlighted-background-color: #46423b;
	--topbar-background-color: #3a3733;
	--chatbox-background-color: #3a3733;

    --padding-color: #4f4f4f;

	--primary-color: #f07028;
	--primary-highlighted-color: #f28f4b;
	--secondary-color: #a04b24;
	--secondary-highlighted-color: #b86038;
	--accent-color: #683820;
	--accent-highlighted-color: #885830;
}