/*
displayName = Light
previewGradient = 45deg, #f0ebe8, #d4d0ca
complementaryColor = black
*/

:root {
	--text-color: #170f08;
	--secondary-text-color: #2f2b28;
	--reply-text-color: #969696;
	--danger-text-color: #ff0000;

    --chat-background-color: #f0edeb;
    --chat-highlighted-background-color: #aba8a4;
    --chat-important-background-color: #df5f0b26;
    --chat-important-hightlighted-background-color: #df5f0b3d;
    --chat-featured-message-color: #e8ac841f;
    --popup-background-color: #b8b4b0;
    --popup-highlighted-background-color: #a6a4a2;
	--modal-background-color: #e8e4e0;

	--left-sidebar-background-color: #dbd8d4;
	--left-sidebar-highlighted-background-color: #d4d0ca;
	--topbar-background-color: #dfdbd6;
	--chatbox-background-color: #dfdbd6;

    --padding-color: #484848;
    
    --primary-color: hsl(22, 70%, 75%);
    --primary-highlighted-color: hsl(14, 72%, 48%);
    --secondary-color: hsl(19, 60%, 65%);
    --secondary-highlighted-color: hsl(14, 72%, 48%);
    --accent-color:  hsl(24, 70%, 60%);
    --accent-highlighted-color: hsl(24, 85%, 50%);
}