/*
displayName = Gorb
previewImageUrl = gorb.jpg
complementaryColor = white
*/

:root {
	--left-sidebar-icon-width: 2.5em;
	--left-sidebar-icon-gap: .25em;
	--left-sidebar-margin: .5em;

	--navbar-height: 5dvh;
	--navbar-icon-size: 3dvh;
	--navbar-gap: calc(3dvh * .2);
	
	--minor-radius: .35em;
	--standard-radius: .5em;
	--embed-radius: .3em;
	--button-radius: .6em;
	--guild-icon-radius: 15%;
	--pfp-radius: 50%;
	--preferred-font: Arial;
}